<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title  >
        Add Contact
    </title>
</head>


<body>



<div id="content">
    <!--    siderbar-->
    <!--if uesr is logged in : sidebar-->
    <div th:if="${loggedInUser}">
        <div  data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20">
        <div class="grid grid-cols-12 " >
            <div class="col-span-3 "></div>
            <div class=" col-span-12 md:col-span-6  ">
               <div class="card block  p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-700 dark:border-gray-700 dark:hover:bg-gray-800">

                   <div data-th-replace="~{message::messagebox}"></div>

                   <h2 class="text-2xl font-semibold">Add New Contact</h2>
                   <p class="text-gray-400"> This contact will be stored on cloud</p>

<!--                  add contact form-->
<!--                   contact name-->
                   <form
                           data-th-action="@{'/user/contacts/add'}"
                         data-th-object="${contactForm}"
                         method="post" enctype="multipart/form-data"

                         class="mt-8">
                       <div class="mb-3">
                           <label
                                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                               * Contact Name</label>
                           <div class="relative mb-1">
                               <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                   <i class="fa-solid fa-user"></i>
                               </div>
                               <input type="text"
                                      data-th-field="*{name}"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                      focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600
                                      dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="name">
                           </div>
<!--                           this is for error messages-->
                           <p class="text-red-600" data-th-if="${#fields.hasErrors('name')}"
                           data-th-errors="*{name}">
                           >
                               Invalid name
                           </p>
                       </div>
<!--                        contact email-->
                       <div class="mb-3">
                           <label
                                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                               * Contact Email</label>
                           <div class="relative mb-1">
                               <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                   <i class="fa-solid fa-envelope"></i>
                               </div>
                               <input type="text"
                                      data-th-field="*{email}"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                      focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600
                                      dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="name@gmail.com">
                           </div>
<!--                           this for error messages-->
                           <p class="text-red-600"
                              data-th-if="${#fields.hasErrors('email')}"
                                 data-th-errors="*{email}">
                               Invalid email
                           </p>
                       </div>

                       <!--                        contact phoneNumber-->
                       <div class="mb-6">
                           <label
                                  class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                               * Contact Phone </label>
                           <div class="relative mb-1">
                               <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                   <i class="fa-solid fa-phone"></i>
                               </div>
                               <input type="text"
                                      data-th-field="*{phoneNumber}"
                                      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                      focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600
                                      dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                      placeholder="+880 1XXXXXXXXX">
                           </div>
                           <!--                           this for error messages-->
                           <p class="text-red-600"
                              data-th-if="${#fields.hasErrors('phoneNumber')}"
                              data-th-errors="*{phoneNumber}">
                               Invalid phone number
                           </p>
                       </div>


<!--                       select your contact type-->
                       <div class="mb-5">
                           <div class="relative max-w-sm">
                               <label for="category" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                   Contact type
                               </label>
                               <select id="category" name="category" data-th-field="*{category}"
                                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600
                dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                                   <option value="Friend">Friend</option>
                                   <option value="Close friend">Close friend</option>
                                   <option value="Family Member">Family Member</option>
                                   <option value="Business partner">Business partner</option>
                                   <option value="Sir">Sir</option>
                                   <option value="Others">Others</option>
                               </select>
                           </div>
                       </div>


                       <!--                       contact birthday date-->

                       <div class="mb-3">
                           <label for="birthday" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Birthday date</label>
                           <div class="relative max-w-sm">
                               <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                   <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                       <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                   </svg>
                               </div>
                               <input datepicker id="birthday" data-th-field="*{birthday}" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full ps-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Select date">
                           </div>

                       </div>




<!--                        location-->
                       <div class="mb-3">
                           <label
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                               <i class="fa-solid fa-location-dot px-3 "></i>
                               Address </label>
                           <textarea
                                   data-th-field="*{address}"
                                   rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Address fo the contact..."></textarea>

                       </div>

<!--                       about-->

                       <div class="mb-3">
                           <label
                                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                               <i class="fa-solid fa-book px-3"></i>
                               About</label>
                           <textarea
                                   data-th-field="*{about}"
                                   rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write about your contact..."></textarea>

                       </div>

<!--                        social media links-->

                       <div class="flex space-x-3 mb-3">
<!--                           facesbook link-->
                           <div class="w-full">
                               <div class="mb-3">
                                   <label
                                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                       Facebook Link </label>
                                   <div class="relative mb-6">
                                       <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                           <i class="fa-brands  w-4 h-4 fa-facebook"></i>
                                       </div>
                                       <input type="text"
                                              data-th-field="*{facebookLink}"
                                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                      focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600
                                      dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                              placeholder="https://www.facebook.com/tasfiquerishad86">
                                   </div>
                               </div>
                           </div>
<!--                           Linkendin link-->
                           <div class="w-full">

                               <div class="mb-3">
                                   <label
                                          class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                                       Linkedin Link </label>
                                   <div class="relative mb-6">
                                       <div class="absolute inset-y-0 start-0 flex items-center ps-3.5 pointer-events-none">
                                           <i class="fa-brands w-4 h-4 fa-linkedin"></i>
                                       </div>
                                       <input type="text"
                                              data-th-field="*{linkedInLink}"
                                              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                      focus:border-blue-500 block w-full ps-10 p-2.5  dark:bg-gray-700 dark:border-gray-600
                                      dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                              placeholder="https://www.linkedin.com/in/md-tasfique-rishad-b8b95523a/">
                                   </div>
                               </div>

                           </div>

                       </div>

<!--                       contact image-->

                       <div class="mb-2">


                           <label class="block mb-2 text-sm font-medium text-gray-900 dark:text-white" >Upload contact image</label>
                           <input data-th-field="*{profilePicture}"
                                  id="image_file_input"
                                   class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50
                           dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                   type="file">

                           <img
                                   class="max-h-52 mx-auto rounded-lg shadow m-3"
                                   src=""
                                   id="upload_image_preview"
                                   alt=""
                           />

                       </div>

                       <div class="flex justify-center  items-center mb-8 ">
                           <!-- Hidden Checkbox -->
                           <input type="checkbox" id="favoriteCheckbox"
                                  data-th-field="*{favorite}"
                                  class="hidden">

                           <!-- Star Label (Acts as Checkbox) -->
                           <label for="favoriteCheckbox" class="cursor-pointer text-gray-400 space-x-2">
                               <span class="text-blackdark:text-white" > Is this your favorite contact?</span>
                               <i class="fa-solid fa-heart" id="starIcon"></i>

                           </label>
                       </div>
                       <div type="submit" class="button-container text-center mb-3 flex space-x-5 justify-center items-center">
                           <button class="px-3 py-2 bg-blue-800 text-white rounded-md hover:bg-blue-600">
                               Add Contact
                           </button>
                           <button type="reset" class="px-8 py-2 bg-red-800 text-white rounded-md hover:bg-red-600">
                              Reset
                           </button>
                       </div>

                   </form>


               </div>
            </div>

        </div>

    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const checkbox = document.getElementById("favoriteCheckbox");
        const starIcon = document.getElementById("starIcon");

        // Function to toggle star color when checkbox is clicked
        checkbox.addEventListener("change", function () {
            if (checkbox.checked) {
                starIcon.classList.remove("text-gray-400");
                starIcon.classList.add("text-yellow-400");
            } else {
                starIcon.classList.remove("text-yellow-400");
                starIcon.classList.add("text-gray-400");
            }
        });
    });
</script>

<script data-th-src="@{'/js/admin.js'}">
</script>
<script>
    console.log("this is profile page");
</script>
</body>
</html>
