<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title data-th-text="${loggedInUser.name}+' | SCM'">
        Profile Page
    </title>
</head>


<body>

<!--edit by Jaki-->
<!--<div id="content">-->
<!--    &lt;!&ndash;    siderbar&ndash;&gt;-->
<!--    &lt;!&ndash;if uesr is logged in : sidebar&ndash;&gt;-->
<!--    <div class="fixed" style="margin-top: 80px" th:if="${loggedInUser}">-->
<!--        <div  data-th-replace="~{user/sidebar::sidebar}"></div>-->
<!--    </div>-->

<!--    <div class="sm:pl-64 pt-20" style="height: 10000px">-->
<!--        <h2 class="text-5xl">Welcome to Profile page</h2>-->
<!--        <p>Thymeleaf is a modern server-side Java template engine for both web and standalone environments, capable of processing HTML, XML, JavaScript, CSS and even plain text.</p>-->

<!--    </div>-->
<!--</div>-->


<div id="content">
    <!--    siderbar-->
    <!--if uesr is logged in : sidebar-->
    <div th:if="${loggedInUser}">
        <div  data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20" >
        <h2 class="text-5xl">Welcome to Dashboard</h2>
        <p>Thymeleaf is a modern server-side Java template engine for both web and standalone environments, capable of processing HTML, XML, JavaScript, CSS and even plain text.</p>

    </div>
</div>
<script>
    console.log("User Dashboard");
</script>
</body>
</html>
