<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title data-th-text="${loggedInUser.name}+' | SCM'">
        Profile Page
    </title>
</head>


<body>

<!--edit by Jaki-->
<!--<div id="content">-->
<!--    &lt;!&ndash;    siderbar&ndash;&gt;-->
<!--    &lt;!&ndash;if uesr is logged in : sidebar&ndash;&gt;-->
<!--    <div class="fixed" style="margin-top: 80px" th:if="${loggedInUser}">-->
<!--        <div  data-th-replace="~{user/sidebar::sidebar}"></div>-->
<!--    </div>-->

<!--    <div class="sm:pl-64 pt-20" style="height: 10000px">-->
<!--        <h2 class="text-5xl">Welcome to Profile page</h2>-->
<!--        <p>Thymeleaf is a modern server-side Java template engine for both web and standalone environments, capable of processing HTML, XML, JavaScript, CSS and even plain text.</p>-->

<!--    </div>-->
<!--</div>-->


<div id="content">
    <!--    siderbar-->
    <!--if uesr is logged in : sidebar-->
    <div th:if="${loggedInUser}">
        <div  data-th-replace="~{user/sidebar::sidebar}"></div>
    </div>

    <div class="sm:pl-64 pt-20" style="height: 10000px">
        <h2 class="text-5xl">Welcome to Search Contact</h2>
        <div class="contacts_container p-5">


            <div class="relative overflow-x-auto shadow-md sm:rounded-lg">

                <form data-th-object="${contactSearchForm}"
                      data-th-action="@{/user/contacts/search}">
                    <div class="p-5 flex items-center space-x-5 flex-column flex-wrap md:flex-row space-y-4 md:space-y-0 pb-4 bg-white dark:bg-gray-900">


                        <!--select box-->
                        <div>

                            <div>

                                <select
                                        data-th-field="*{field}"
                                        id="countries_disabled"
                                        class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500
                                        focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                                        dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">

                                    <option value="name" selected>name</option>
                                    <option value="phoneNumber">phone</option>
                                    <option value="email">email</option>

                                </select>

                            </div>

                        </div>



                        <label class="sr-only">Search</label>

                        <div class="relative">
                            <div class="absolute inset-y-0 rtl:inset-r-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input  data-th-field="*{keyword}"

                                    type="text"
                                    id="table-search-users"
                                    class="block p-2 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg  w-80 bg-gray-50
                                focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white
                                dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search for users">
                        </div>
                        <div>
                            <button type="submit" class="px-3 py-2 bg-blue-800 hover:bg-blue-600 text-white rounded-lg">Search</button>
                        </div>
                    </div>

                </form>





                <table
                        data-th-if="!${contactPage.empty}"
                        class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                    <tr>

                        <th scope="col" class="px-6 py-3">
                            Name
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Phone
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Links
                        </th>
                        <th scope="col" class="px-6 py-3">
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr     data-th-object="${c}"
                            data-th-each="c :${ contactPage.getContent() } "
                            class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 border-gray-200 hover:bg-gray-50 dark:hover:bg-gray-700">

                        <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap dark:text-white" >
                            <img
                                    class="w-10 h-10 rounded-full"
                                    onerror="this.src='https://isobarscience.com/wp-content/uploads/2020/09/default-profile-picture1.jpg'"
                                    data-th-src="@{*{picture}}"
                                    src="/docs/images/people/profile-picture-1.jpg"
                                    alt="Jese image">
                            <div class="ps-3">
                                <div class="text-base font-semibold" data-th-text="*{name}">Neil Sims</div>
                                <div class="font-normal text-gray-500" data-th-text="*{email}">name@gmail.com</div>
                            </div>
                        </th>
                        <td class="px-6 py-4">
                            <i class="fa-solid fa-phone w-4 h-4"></i>
                            <span data-th-text="*{phoneNumber}">Phone Number</span>
                        </td>
                        <td class="px-6 py-4">
                            <div class="flex items-center ">

                                <a data-th-href="@{*{linkdInLink}}" target="_blank"> <i class="fa-brands w-5 h-5 fa-linkedin"></i></a>
                                <a data-th-href="@{*{facebookLink}}" target="_blank " class="text-blue-600"> <i class="fa-brands  w-5 h-5 fa-facebook"></i></a>
                                <div data-th-if="*{favorite}" class="text-yellow-300"  > <i class="fa-solid fa-star w-5 h-5"></i></div>
                                <div data-th-unless="*{favorite}" class=" text-gray-200" > <i class="fa-regular fa-star w-5 h-5"></i></div>
                            </div>

                        </td>
                        <td class="px-6 py-4 space-x-2">
                            <a href="#" class="font-medium
                             text-red-600 dark:text-red-500 hover:underline">
                                <i class="fa-solid fa-trash "></i>
                            </a>
                            <a href="#" class="font-medium text-green-600 dark:text-green-500 hover:underline">
                                <i class="fa-solid fa-pen-to-square"></i>
                            </a>
                            <button th:contact-id="${c.id}"
                                    th:onclick="loadContactData(this.getAttribute('contact-id'))"

                            >
                                <i class="fa-solid fa-eye"></i>
                            </button>
                        </td>
                    </tr>

                    </tbody>
                </table>

                <!--                    pagination:-->

                <div    data-th-if="!${contactPage.empty}"
                        class="pagination_container flex items-center flex-col p-5 ">
                    <nav aria-label="Page navigation example">
                        <ul class="inline-flex -space-x-px text-base h-10">
                            <!-- Previous Button -->
                            <li data-th-if="!${contactPage.first}">
                                <a
                                        data-th-href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${contactPage.number-1}+'&field='+${contactSearchForm.field}+'&keyword='+${contactSearchForm.keyword}  }"

                                        class="flex items-center justify-center px-4 h-10 ms-0 leading-tight text-gray-500 bg-white border border-e-0
                               border-gray-300 rounded-s-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700
                               dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Previous</a>
                            </li>

                            <!-- Pagination Numbers -->
                            <li data-th-each="index : ${#numbers.sequence(0,contactPage.totalPages-1)}">
                                <a
                                        data-th-href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${index}+'&field='+${contactSearchForm.field}+'&keyword='+${contactSearchForm.keyword}  }"

                                        data-th-classappend="${index==contactPage.number ? 'bg-blue-50 dark:bg-gray-600' : 'bg-white dark:bg-gray-800'}"
                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 border border-gray-300
                                      hover:bg-gray-100 hover:text-gray-700 dark:border-gray-700 dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">
                                    <span data-th-text="${index+1}"></span>
                                </a>
                            </li>

                            <!-- Next Button -->
                            <li data-th-if="!${contactPage.last}">
                                <a
                                        data-th-href="@{'/user/contacts/search?size='+${pageSize}+'&page='+${contactPage.number+1}+'&field='+${contactSearchForm.field}+'&keyword='+${contactSearchForm.keyword}  }"

                                        class="flex items-center justify-center px-4 h-10 leading-tight text-gray-500 bg-white border
                               border-gray-300 rounded-e-lg hover:bg-gray-100 hover:text-gray-700 dark:bg-gray-800 dark:border-gray-700
                               dark:text-gray-400 dark:hover:bg-gray-700 dark:hover:text-white">Next</a>
                            </li>
                        </ul>
                    </nav>
                </div>

                <h1 class=" text-3xl text-gray-500 text-center p-5 " data-th-if="${contactPage.empty}">No Result Found</h1>

            </div>

        </div>

        <div data-th-replace="~{user/contact_modals::contactModals}"></div>


    </div>
</div>

<script data-th-src="@{'/js/contact.js'}">

</script>

<script>
    console.log("Search contact page");
</script>
</body>
</html>