<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>
        About Page
    </title>
</head>


<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>
        Home Page
    </title>
</head>


<body>
<div id="content" class="border rounded border-gray-300 dark:border-gray-500 w-1/2 mx-auto  bg-gray-300 dark:bg-gray-500">
    <!-- Banner Section -->
    <section class="m-4 dark:bg-gray-800 bg-blue-800 text-white rounded py-20 animate__animated animate__fadeInDown ">
        <div class="container mx-auto text-center">
            <h2 class="text-4xl font-bold mb-4">About</h2>
            <p class="text-lg p-4 mb-8">Welcome to Contact Keeper, your go-to solution for managing contacts effortlessly and securely in one place.</p>

        </div>

        <div class="container mx-auto text-center">
            <h2 class="text-4xl font-bold mb-4">Section</h2>
            <p class="text-lg p-4 mb-8">Contact Keeper is a smart contact management system designed to help you store, organize, and access your contacts efficiently. Whether it's your friends, family, colleagues, or business connections, Contact Keeper ensures all your contact details are available at your fingertips.</p>

        </div>
    </section>

    <!-- Features Section -->




    <!-- Footer Section -->

</div>
<script>
    console.log("About page");
</script>
</body>

</html>

</html>
