<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
    <title>
        Register Page
    </title>
</head>


<body>
<div id="content">
<!--    <h2> This is Register page</h2>-->

     <div class="grid grid-cols-12 mt-4 ">
         <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4 "></div>
        <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">

            <!--         card with 4 columns-->


            <div class="block p-6 bg-white  border-t-[10px] border-blue-700 rounded-lg shadow-sm   dark:border-blue-700 dark:bg-gray-900   ">

                <div data-th-replace="~{message::messagebox}"></div>

                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Signup Here</h5>
                <p class="font-normal text-gray-400 dark:text-gray-400">Start managing contacts on cloud</p>

<!--                here is the form-->

                <form data-th-action="@{'/do-register'}"
                      method="post"
                      data-th-object="${userForm}"
                      class="mt-5"
                      novalidate
                >

                    <div class="mb-3">
                        <label for="name"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Name</label>
                        <input type="text"
                               id="name"
                               data-th-field="*{name}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your name" required />

<!--                            error or required message showing here     -->
                            <p
                                    data-th-if="${#fields.hasErrors('name')}"
                                    data-th-errors="*{name}"
                                    class="text-red-500 px-1 py-2 "
                            >Name is required</p>
                    </div>


                    <div class="mb-3">
                        <label for="email"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Your email</label>
                        <input type="email"
                               id="email"
                               data-th-field="*{email}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@email.com" required />

                        <!--                            error or required message showing here     -->
                        <p
                                data-th-if="${#fields.hasErrors('email')}"
                                data-th-errors="*{email}"
                                class="text-red-500 px-1 py-2 "
                        > </p>
                    </div>


                    <div class="mb-3">
                        <label for="password"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New password</label>
                        <input type="password"
                               id="password"
                               data-th-field="*{password}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"   required />
                        <!--                            error or required message showing here     -->
                        <p
                                data-th-if="${#fields.hasErrors('password')}"
                                data-th-errors="*{password}"
                                class="text-red-500 px-1 py-2 "
                        > </p>
                    </div>

                    <div class="mb-3">
                        <label for="phone"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Contact Number</label>
                        <input type="text"
                               id="phone"
                               data-th-field="*{phoneNumber}"
                               class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Enter your contact number" required />
                        <!--                            error or required message showing here     -->
                        <p
                                data-th-if="${#fields.hasErrors('phoneNumber')}"
                                data-th-errors="*{phoneNumber}"
                                class="text-red-500 px-1 py-2 "
                        > </p>
                    </div>


                    <div class="mb-3">
                        <label
                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            <i class="fa-solid fa-location-dot px-3 "></i>
                            Address </label>
                        <textarea
                                data-th-field="*{address}"
                                rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400
                           dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Address fo the contact..."></textarea>

                    </div>


                    <div class="mb-3">

                        <label for="message"
                               class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Write Something about yourself</label>
                        <textarea id="message"
                                  rows="6"
                                  data-th-field="*{about}"
                                  class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Write here..."></textarea>

                        <!--                            error or required message showing here     -->
                        <p
                                data-th-if="${#fields.hasErrors('about')}"
                                data-th-errors="*{about}"
                                class="text-red-500 px-1 py-2 "
                        >Name is required</p>
                    </div>

                    <div class="mb-3 flex justify-center space-x-3">
                        <button type="submit"
                                class="px-3 py-2 rounded bg-gray-900 hover:bg-gray-600 text-white dark:bg-blue-800 dark:hover:bg-blue-700" >Sign Up</button>
                        <button type="reset"
                                class="px-3 py-2 rounded bg-orange-700 hover:bg-orange-500 text-white dark:bg-purple-700 dark:hover:bg-purple-600" >Reset</button>
                    </div>


                </form>

            </div>




        </div>
     </div>


</div>
<script>
    console.log("Sign Up page");
</script>
</body>
</html>
